* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: rgb(62, 62, 62);
  --main-color: rgb(126, 188, 255);
  --light-blue: rgb(206, 230, 255);
  --task-light-blue: rgb(232, 243, 255);
  --placeholder-color: var(--black);
  --remover-color: red;

  --sub-base-x-small: calc(var(--sub-base-m-small) * 0.75);
  --sub-base-m-small: calc(var(--sub-base-small) * 0.75);
  --sub-base-small: calc(var(--base) * 0.75);
  --base: 1rem;
  --small: calc(var(--base) * 1.25);
  --small-medium: calc(var(--small) * 1.25);
  --medium: calc(var(--small-medium) * 1.25);
  --medium-big: calc(var(--medium) * 1.25);
  --big: calc(var(--medium-big) * 1.25);
}

body {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  min-height: 100vh;
  font-family: sans-serif;
  color: var(--black);
}

nav {
  user-select: none;
  overflow-y: scroll;
  max-height: 100vh;
}

form {
  display: flex;
}

ul {
  list-style-type: none;
}

input {
  background-color: transparent;
  border: none;
  max-width: 150px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--placeholder-color);
}

.adder::before {
  content: '+';
  color: var(--placeholder-color);
  margin-right: var(--sub-base-x-small);
}

.logo {
  font-size: var(--medium);
}

.projects-container,
.todo-container {
  padding: var(--small);
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: var(--small);
  background-color: var(--main-color);
}

.project-title {
  padding: 0.5rem;
  border-radius: var(--small);
}

.project {
  padding: var(--sub-base-x-small);
  border-radius: var(--sub-base-x-small);
}

.project.select {
  background-color: var(--light-blue);
}

.projects {
  display: flex;
  flex-direction: column;
  gap: var(--small)
}

.project-name:not(:empty) {
  font-size: var(--small-medium);
  font-weight: bolder;
  background-color: var(--light-blue);
  padding: var(--sub-base-x-small) var(--sub-base-m-small);
  border-radius: var(--sub-base-x-small);
}

.project-name:empty {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../empty.png');
}

.project-todos {
  display: flex;
  flex-direction: column;
  gap: var(--sub-base-small);
}

.project-todos:empty {
  display: none;
}

.project {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-remover {
  visibility: hidden;
  font-size: var(--small);
}

.project.select .project-remover {
  visibility: visible;
}

.todo-container {
  display: flex;
  flex-direction: column;
  gap: var(--small);
}

.task {
  padding: var(--base);
  border-left: 5px solid var(--main-color);
  background-color: var(--task-light-blue);
  border-radius: var(--sub-base-x-small);
  display: flex;
  justify-content: space-between;
}
