<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
</head>
<body>
    <nav>
       <ul id="projects"></ul>
       <form id="projects-adder">
        <input id="projects-new-name" type="text" placeholder="Add Project">
       </form>
    </nav>
    <main>
        <div id="project-name"></div>
        <ul id="project-todos"></ul>
        <div id="task-adder-container"></div>
    </main>
</body>
</html>